.filter {
	border: 3px solid #fafafa;
	margin: 1rem 0 2rem 2rem;
}

.filter-todo {
	width: 200px;
	padding: 20px;
	font-size: 1.1rem;
	outline: none;
	border: none;
	background-image: linear-gradient(
		120deg,
		#a1c4fd 0%,
		#c2e9fb 100%
	);
	color: rgb(29, 29, 29);
	transition: all 0.5s ease;
	cursor: pointer;
	position: relative;
}

@media (max-width: 830px) {
	.filter {
		flex-wrap: wrap;
		margin: 1rem 0;
	}
}

@media (max-width: 580px) {
	.filter-todo {
		padding: 10px;
	}
}
