* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
}

body {
	background-image: linear-gradient(
		to top left,
		#fff1eb 0%,
		#ace0f9 100%
	);
	background-repeat: no-repeat;
	min-height: 100vh;
}

.top-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: all 0.5s ease;
}

.todo-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	transition: all 0.5s ease;
}

@media (max-width: 830px) {
	.top-wrap {
		flex-direction: column;
	}
}
